@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:ital,wght@0,400;1,700&display=swap');

body {
    font-family: 'Work Sans';
    background-color: lightslategray;
}

/*---------------------------
    header and title style 
----------------------------*/

.header-container {
    background-color: #ff900e1a;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 750px;
    height: 225px;
    text-align: center;
    font-family: 'Work Sans';
}

.main-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.title-discrption {
    color: #727272;
    margin-bottom: 25px;
}

.btn-primary {
    width: 140px;
    height: 45px;
    color: white;
    background-color: #FF900E;
    border: none;
    font-size: 15px;
    border-radius: 8px;
}

.banner img {
    width: 100%;
    padding-bottom: 30px;
    margin-top: 50px;
}

/*----------------
    about style
 -----------------*/

.about-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.about {
    width: 80%;
    display: flex;
    gap: 30px;
}

.about-banner-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.about-banner img {
    width: 100%;
}

.about-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.about-hade-title {
    color: #727272;
    font-family: 'Work Sans';
}

.about-title-color-black {
    color: #131313;
    font-weight: 700;
    font-size: 30px;
}

.about-title-color-orange {
    color: #FF900E;
    font-weight: 700;
    font-size: 30px;
}

.about-discrption {
    color: #727272;
}

/*------------------------------------------- 
    architect title and discrption style
--------------------------------------------*/
.architect-container {

    display: flex;
    justify-content: center;
}

.architect-item {
    margin-top: 40px;
    width: 1080px;
    height: 800px;
    display: flex;

}

.architect-title-border {
    width: 220px;
    height: 50px;
    border-left: 3px solid #FF900E;
    padding-left: 10px;
}

.architect-banner img {
    width: 600px;
    height: 900px
}

.architect-title-discrption {
    width: 450px;
    height: 120px;
    border-radius: 8px;
    padding: 15px;
    margin-top: 17px;
    margin-right: 20px;
    box-shadow: 2px 2px 2px 5px lightcyan;
}

.btn-experience {
    padding: 29px;
    width: 146px;
    height: 100px;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin-top: -42px;
    font-size: 25px;
    font-weight: bold;

}

.btn-font-small {
    font-size: 15px;
}

.architect-banner {
    display: flex;
    flex-direction: column;
}

/* madiya quary style */

@media screen and (max-width: 576px) {

    .title {
        width: 100%;
    }

    .banner img {
        width: 100%;
    }

    .about {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-title {
        width: 100%;
    }

    .about-banner-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

}

.architect-container {
    display: none;
}