@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0;

    text-decoration: none;
}

nav {
    height: 80px;
    width: 100%;
}

label.nav-title {
    line-height: 80px;
    padding: 0 50px;
    font-size: 30px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;    
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
li {
    list-style: none;
}

li a {
    color: #727272;
}

body {
    font-family: 'Work Sans';
    /* background-color: lightslategray; */
}

/*---------------------------
    header and title style 
----------------------------*/

.header-container {
    background-color: #ff900e1a;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-title {
    width: 750px;
    height: 225px;
    text-align: center;
    font-family: 'Work Sans';
}

.main-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.title-discrption {
    color: #727272;
    margin-bottom: 25px;
}

.btn-primary {
    width: 140px;
    height: 45px;
    color: white;
    background-color: #FF900E;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    
}
.btn-primary:hover{
    background-color: #ffd90021;
    color: black;
    transition: 0.3s all ease;
}

.banner img {
    width: 100%;
    padding-bottom: 30px;
    margin-top: 50px;
}

/*----------------
    about style
 -----------------*/

.about-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.about {
    width: 80%;
    display: flex;
    gap: 30px;
}

.about-banner-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.about-banner img {
    width: 100%;
}

.about-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.about-hade-title {
    color: #727272;
    font-family: 'Work Sans';
}

.about-title-color-black {
    color: #131313;
    font-weight: 700;
    font-size: 30px;
}

.about-title-color-orange {
    color: #FF900E;
    font-weight: 700;
    font-size: 30px;
}

.about-discrption {
    color: #727272;
}

/*------------------------------------------- 
    architect title and discrption style
--------------------------------------------*/
.architect-container {
    padding: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.architect-item {
    margin-top: 40px;
    width: 100%;
    display: flex;
}

.architect-title-border {
    width: 450px;
    border-left: 3px solid #FF900E;
    padding-left: 10px;
}

.architect-banner img {
    width: 700px;
    height: 900px
}

.architect-title-discrption {
    width: 450px;
    height: 175px;
    border-radius: 8px;
    padding: 10px;
    margin-top: 17px;
    margin-right: 20px;
    box-shadow: 2px 2px 2px 5px #fafafa;
}

.btn-experience {
    padding: 29px;
    width: 146px;
    height: 100px;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin-top: -42px;
    font-size: 25px;
    font-weight: bold;
}
.btn-experience:hover{
    background-color: #fa3983;
    transition: 0.3s all ease;
    color: black;
}

.btn-font-small {
    font-size: 15px;
}

.architect-banner {
    display: flex;
    flex-direction: column;
}

/* -----------------------------------------
Project Finished, panding and warkig style 
-------------------------------------------*/
.some-facts-title {
    margin-left: 40px;
}

.some-facts-title p {
    color: #727272;
    width: 400px;
    margin-top: 10px;

}

.box {
    display: flex;
    justify-content: space-evenly;

}

.box-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    margin-top: 40px;
}
.box-content:hover{
    background-color: #ff8f0e40;
    transition: 0.3s all ease;
    
}
.box-content h2 {
    font-weight: 600;
}

.box-content p {
    color: #727272;
    font-weight: 600;
}



/* Sponspors style */

.sponspors-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.sponspors-title h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.sponspors-title p {
    width: 45%;
    text-align: center;
    margin-bottom: 30px;

}

.sponspor-logo-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sponspor-logo img {
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #ff900e1a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.subescrib{
    display: flex;
justify-content: center;
}

.subescrib-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 300px;
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
    background-color: #ff8f0e16 ;
}
.form-control{
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-weight: 600;
    box-shadow: 1px 1px 3px #5ebfd2;
}
.btn-subescrib{
    margin-top: 9px;
    border: none;
    border-radius: 10px;
    color: white;
    padding:9px 25px;
    font-size: 20px;
    background-image: linear-gradient(to right, #ff257a 0%, #fa3983 100%);  
}





/* madiya quary style */

@media screen and (max-width: 576px) {

    .title {
        width: 100%;
        margin-bottom: 30px;
    }

    .banner-title {
        width: 100%;
        height: auto;
    }

    .banner img {
        width: 100%;
    }

    .about {
        display: flex;
        flex-direction: column;
    }

    .about-title {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .about-banner-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .architect-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    .architect-banner,
    .architect-title-border,
    .architect-title-discrption {
        width: 100%;

    }

    .architect-banner img {
        width: 100%;
        height: 85%;
    }

    .some-facts-title p {
        width: 100%;
        height: auto;
    }

    .box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        width: 95%;
        height: auto;
        gap: 20px;

    }

    .sponspor-logo-item {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 20px;
    }

    .subescrib-item {
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 15px;
    }
.form-control{
    width: 80%;
}

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100px
    }

    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    
    label.nav-title{
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    nav ul li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 50px;
        
    }
}