@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:ital,wght@0,400;1,700&display=swap');

body {
    font-family: 'Work Sans';
    background-color: lightslategray;
}

/*---------------------------
    header and title style 
----------------------------*/

.header-container {
    background-color: #ff900e1a;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 862px;
    height: 225px;
    text-align: center;
    font-family: 'Work Sans';
}

.main-title {
    font-style: normal;
    font-weight: 700;
}

.title-discrption {
    color: #727272;
    margin-bottom: 25px;
}

.btn-primary {
    width: 140px;
    height: 45px;
    color: white;
    background-color: #FF900E;
    border: none;
    font-size: 15px;
    border-radius: 8px;
}

.banner img {
    width: 925px;
    height: 450px;
    padding-bottom: 30px;
}

/*----------------
    about style
 -----------------*/

.about-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.about {
    width: 80%;
    display: flex;
    gap: 30px;
}

.about-banner-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.about-banner img {
    width: 100%;
}

.about-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.about-hade-title {
    color: #727272;
    font-family: 'Work Sans';
}

.about-title-color-black {
    color: #131313;
    font-weight: 700;
    font-size: 30px;
}

.about-title-color-orange {
    color: #FF900E;
    font-weight: 700;
    font-size: 30px;
}

.about-discrption {
    color: #727272;
}

/*------------------------------------------- 
    architect title and discrption style
--------------------------------------------*/
.architect-container {
    
    display: flex;
    justify-content: center;
}

.architect-item {
    margin-top: 40px;
    width: 1080px;
    height: 550px;
    display: flex;

}
.architect-title-border{
    width: 220px;
    height: 50px;
    border-left: 3px solid #FF900E;
    padding-left: 10px;
}


.architect-banner img{
    width: 100%;
}